<div class="container-fluid  mb-4 ">

  <div class="row justify-content-between align-items-center">

    <div class="col-2">
 
        <img src="./assets/logo/logo_header.png" class="img p-0" alt="logo">
    
    </div>

    <div class="col-8">
        <input class="input col-12" type="text" placeholder="Buscar imágenes">
    </div>

    <div class="col-2">
      <button class="btn rounded-circle p-0"><img src="./assets/icons/shuffle.png" alt="shuffle icon"
          class="icon"></button>
    </div>


  </div>
</div>
